.launch {
  height: 200px;
  width: 900px;
  padding: 8px;
  display: flex;
  box-shadow: 1px 1px 8px 1px darkgray;
  margin-top: 50px;
  margin: 30px auto auto 20px;
}
.launch img {
  width: 200px;
  height: 200px;
}

.content .info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 60px;
  color: blueviolet;
  margin-right: 10px;
}

.content {
  margin-left: 20px;
  width: 80%;
  margin-right: 10px;
}

.content {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 30px;
  text-align: justify;
}
